
<main class="main">
  <div class="main-content responsive-wrapper">
    <div class="article">
    <div class="article_title">
      <span><%- data.title %></span><span>
        <span>
          <ul>
            <li><a href="https://www.facebook.com/sharer.php?..." target="blank" rel="noopener noreferrer"><img src="facebook-icon.png" alt="Share Page on Facebook" /></a></li>
            <li><a href="https://twitter.com/intent/tweet?..." target="blank" rel="noopener noreferrer"><img src="twitter-icon.png" alt="Share Page on Twitter" /></a></li>
          </ul>
        </span>
    </div>

     <div class="article_body">
    <%- data.body %>  
      </div>
  </div> 
  </div>
</main>
