<!--Open sidebar Icon-->
<div class="open_icon">
  <title>open</title>
  <svg width="15" height="15" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M1664 1344v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45z" />
  </svg>
</div>
<!--site Icon-->
<svg class="site_icon" xmlns="http://www.w3.org/2000/svg">
  <g id="group">
    <text xml:space="preserve" text-anchor="middle" dominant-baseline="middle"
      font-family="Comic Sans MS,Comic Sans,cursive" font-size="25px" id="svg" x="50%" y="50%" stroke-width="0"
      stroke="#000" fill="#000">
      <%- siteName %>
    </text>
  </g>
</svg>

<!--Toggle access Icon-->
<div>
  <span class="toggleAccess">
    <img class="accessicon" src="/assets/icons/login-logoutToggle.svg" alt="toggle access" />
    <span class="accessText"></span>
  </span>
</div>