<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./assets/index.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="./assets/1391017.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Manage posts</title>
</head>
<header class="header-outer">
  <div class="header-inner">
    <div class="header-content responsive-wrapper">

      <!--sidebar navbar-->
      <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
          <a href="/admin">#</a>
          <a href="/new">Write Post</a>
          <!--The button has to behave as a block element--> 
          <div>
             <button type="button" class="addScript">Inject Script</button>
          </div>
          <button type="button" class="collapsible-btn">Injected Scripts</button>
          
        
          <!--Stored scripts-->
          <div class="collapsible">
            <div class="_injectedScripts">
              <!--scripts to be injected dynamically-->   
          </div>
          </div>
          
        </div>
    </div>

      <!--Toolbar-->
      <div class="header-navigation">
        <div class="open_icon" onclick="openNav()">&#9776;</div>
        <img class="blog_icon" src="./assets/icon.svg" alt="<%- siteName %>" />
        <i class="fa fa-user userIcon"></i>
      </div>

      <!--popup input-->
      <div class="popup-input" >
        <input type="text"class="input" placeholder="Insert Script" name="script" required />
        <button type="submit" class="btn_save">Save</button>
        <button class="btn_cancel">Cancel</button>
      </div>
    </div>
  </div>
</header>

<body>

    <div class="_allposts">  
        <div class="control-section">
          <input type="checkbox" class="check-uncheckAll" />
          <input type="button" class="check-uncheckActivator" value="Un/checkAll" />
         <!--label for="search" class="label-search">Search</label>
          <input class="search" id="search"  type="search" />--> 
          <input type="button" value="&#10001;" class="edit" />
          <input type="button" value="&#9987;" class="remove" />
          <input type="button" value="New" class="new" />
        </div>
        <% for( var i = 0;i < data.length;i++) { %>
            <div class="_post">
              <label class="custom-checkbox">
                <input type="checkbox" class="checkbox" id="select-<%=i%>"/>
                <span><%= data[i].title %></span>
              </label>
               
        </div>
        <% } %>
        
    </div>
</body>
<!--<script src="./assets/sidebarhelper.js"></script>-->
<script src="./assets/update-deletehelper.js"></script>
<script src="./assets/scriptHandler.js"></script>
</html>