<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link href="./assets/index.css" rel="stylesheet" type="text/css" />
    <meta property="og:image" content="./assets/1391017.png" />
    <meta name="description" content="404 Error Page" />
    <link rel="icon" type="image/png" href="./assets/1391017.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="Error">
     <h1>404</h1>
     <p>Oops! Something is wrong.</p>
     <a class="button" href="/"><i class="icon-home"></i> Go back in initial page, is better.</a> 
    </div>
    
</body>
</html>
