<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Login</title>
    <link href="./assets/index.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="./assets/errorBeautifier.js"></script>
</head>
<body>
 
      <div class="wrapper"> 
          <header class="header">
            <!--<a href="#" class="logo">
               
                 
              </a>
            -->   
            
            <h1>Reset Password for Whatspost</h1>
          </header>

        <form class="form" method="POST" action="/forgot-password">
            <label for="user">
              Email address
              <input class="field" type="text" name="email" id="user" autofocus required>
            </label>

           <!--
             <label for="password">
              Password <span><a href="/forgot-password">Forgot password?</a></span>
              <input class="field" type="password" name="password" id="password" required>
            </label>
          --> 
            
            <input class="button" type="submit" value="Reset">
          </form>
        </div>
    </div>
</body>
<script>
  const URL = window.location.pathname;
console.log(URL)
fetch(URL)
     .then(res=>{
         //check if response has errors
         if(res.ok){
             return res.json()
         } else {
             //Has errors, since res.json() returns a Promise,we
             //chain a then here to get the value and return the error value
             //as promise rejection so that it will go to the
             //catch handler
             return res.json().then(err => Promise.reject(err));
             //this could also be
             //return res.json().then(err => throw Error(err));
         }
     })
     .then(json => {
         //dispatch success
         console.log(json)
     })
     .catch(err => {
         console.log(err)
     });
</script>
</html>
