<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
    <link href="./assets/index.css" rel="stylesheet" type="text/css">
</head>
<body>
  <h1 id="header">Sign Up:</h1>
    <div class="Register-form">
        <form method="POST" action="/signup" class="Registerform">
         <div id="fieldsmail">
             <label for="email">
              <input type="email" name="email" placeholder="Email" required /><br/>
            </label>
         </div>
        <div id="fieldspassword">
          <label for="password">
            <input type="password" name="password" placeholder="password" required /><br/>
          </label>
        </div>
        <div id="fieldssubmit">
        <button type="submit">Sign Up</button>
        </div>
        </form>
    </div>
    </body>
</html>