<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Login</title>
    <link href="./assets/index.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <h1 id="header">Login here!</h1>
    <div class="Register-form">
        <form method="POST" action="/loginfordenniskim" class="Registerform">
            <div id="fieldsmail">
             <label for="email">
              <input type="email" name="memberEmail" placeholder="Email" required /><br/>
             </label>
            </div>
        <div id="fieldspassword">
         <label for="password">
            <input type="password" name="memberPassword" placeholder="password" required /><br/>
         </label>
        </div>
        <div id="fieldssubmit">
        <button id="login" type="submit">Login</button>
        </form>
    <div class="back">
        <a href="/"># &#9735;</a>
    </div>
    </div>