<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Password changed successfully</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%- siteName %>" />
    <meta property="og:site_name" content="<%- siteName %>" />
    <meta property="og:image" content="/assets/icons/rel_icon.png" />
    <meta property="og:image:alt" content="<%- siteName %>" />
    <meta name="description" content="Password changed successfully" />
  
    <!--Twitter meta tags-->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@kimdennisb" />
    <meta name="twitter:description" content="Password changed successfully" />
    <meta name="twitter:image" content="/assets/icons/rel_icon.png" />
  
    <link href="/assets/index.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="/assets/icons/rel_icon.png" />
    <link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet" />
</head>

<body>
    <h1 class="Passwordchange">Password changed successfully.</h1>
</body>

</html>