<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Password changed successfully</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link href="./assets/index.css" rel="stylesheet" type="text/css" />
    <meta property="og:image" content="./assets/1391017.png" />
    <meta name="description" content="Password changed successfully" />
    <link rel="icon" type="image/png" href="./assets/1391017.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <h1 class="Passwordchange">Password changed successfully!.</h1>
</body>
</html>
