<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
    <link href="./assets/index.css" rel="stylesheet" type="text/css">
</head>
<body>
 
    <div class="wrapper"> 
      <header class="header">
        <a href="#" class="logo">
            <!--whatspost logo-->
          </a>
        <h1>Sign Up to Whatspost</h1>
      </header>

    <form class="form" method="POST" action="/signup">
        <label for="user">
          Email address
          <input class="field" type="text" name="email" id="user" autofocus required>
        </label>
        <label for="password">
          Password 
          <input class="field" type="password" name="password" id="password" required>
        </label>
        <label for="password">
         Confirm Password 
          <input class="field" type="password" name="passwordConf" id="password" required>
        </label>
        
        <input class="button" type="submit" value="Sign Up">
      </form>
    </div>
   
    </body>
</html>