<!DOCTYPE html>
<html lang="en">
        <head>
                <%- include("partials/headerWithoutOGImage.ejs"); -%>
        </head>
    <body>
     <section>
        <%- include("partials/section.ejs"); -%>
     </section>
    </body>
</html> 