<!DOCTYPE html>
<html lang="en">
        <head>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta charset="utf-8">
                <meta description="view the post">
                <link href="./assets/index.css" rel="stylesheet" type="text/css">
                <link rel="icon" type="image/png" href="./assets/1391017.png"/>
                <link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet">
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
                <title>whatsdood</title>
              
        </head>
    <body>

        <div class="article">
            <div class="article_title">
             <span><%- data.header %></span>  
            </div>
  
             <div class="article_body">
              <%- data.item %>
              </div>
            
        </div>
    </body>
    <script>console.log(window.innerWidth)</script>
</html> 