<!DOCTYPE html>
<html lang="en">

<head>
        <%- include("partials/headerWithoutOGImage.ejs"); -%>
</head>

<body>
        <article class="widget">
                <%- include("partials/section.ejs"); -%>
        </article>
</body>

</html>